::-webkit-scrollbar {
    width: 1.6rem;
}
 
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
 
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 1rem;
    border: 0.5rem solid transparent;
    background-clip: padding-box;
}
 
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbarHover);
}
 
::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbarPress);
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
}